<!--
Name: Ali Raza Zaidi
Date: Jan 8 2021
Purpose: HTML file describing the layout for the main site
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WLTSTV4');</script>
<!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='/Resources/CaPredictorIcon.png') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>CaPredictor</title>

    <!--    I Used Bootstrap for most styling, however, for @media queries, I ran into some issues, so I moved them all to
 the header section -->
    <style>
        * {
            box-sizing: border-box;
        }
        body {
            background: #f5f6fa;
            font-family: Verdana, sans-serif;
            font-size: 10vw
        }
        @media (max-width: 575px) {
            body {
                text-align: center;
                background: #f5f6fa;
                font-family: Verdana, sans-serif;
            }

        }
    </style>
</head>

<!-- The Body of the Page. Bootstrap was used for the styling of most elements -->

<!-- If the request returns an error, an alert page opens up notifying the user about said issues -->

<body class="px-0; mx-0">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WLTSTV4"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{% if url_for(request.endpoint) == "/error" %}
<script>
    alert("The player you were looking for was not found. Try using manual mode")
</script>
{% endif %}

<!-- The Main Icon and Name is put in a block that is visible here -->

<div class="container-fluid p-0" style="background:#2d3436; overflow: hidden" >
    <div class="row">

        <div class="col-sm-4">
            <img src="{{ url_for('static', filename='/Resources/CaPredictorIcon.png') }}" alt="" class="rounded mx-auto d-block">
        </div>

        <div class="col-sm-8 my-auto">
            <h1 style="color: white; font-weight: lighter;
                margin-top: 0; font-size: 10vw;}"> CaPredictor </h1>
        </div>

    </div>
</div>

<!-- Manual Mode Toggle and Label section -->

<div class="container-fluid border border-white" style="background: #c0392b; overflow: hidden">
    <div class="row" style="overflow: hidden; padding-top:0.5%; padding-bottom: 0.5%">
        <div class="col-sm-6 my-auto" style="overflow: hidden">
            <h3 style="text-align: center; color: white;  overflow: hidden;
             font-weight: lighter" id="state" >

                <script>
                    function toggled() {
                        check = document.getElementById("checkboxItem").checked
                        if (check === true){
                            document.getElementById("state").innerHTML = "Manual Mode";
                            location.href= "{{ url_for('manual') }}";

                        }else{
                            document.getElementById("state").innerHTML = "Manual Mode";
                        }
                    }
                </script> Manual Mode </h3>

        </div>

        <label class="switch col-sm-0 my-auto d-block mx-auto" rel="script"
               id="toggle-switch" onchange="toggled()">
            <input type="checkbox" id="checkboxItem">
            <span class="slider round"></span>
        </label>

    </div>
</div>

<!-- Player Input Information Form is Here -->

<div class="container-fluid p-0 border-white" style="overflow: hidden; margin-top: 2%; margin-bottom: 2%">
    <div class="form-group my-auto" style="font-size: small">

        <form class="row" action="/" method="POST" style="width: 100%; margin-left: 0.25%"
              autocomplete="off">

            <input class="col-sm-3 form-control" type="text" name="player_name"
                   id = "player_name" placeholder="Player Name" style="text-align: center"
            required>
            <input class="col-sm-3 form-control" type="number" max="8" min="1"
                   name="length" id="length" placeholder="Contract Length"
                   style="text-align: center" required>
            <select name="resign" id="resign" class="col-sm-3 form-control" style="text-align-last: center; text-align: center">
                <option>Re-sign</option>
                <option>Free Agent</option>
            </select>
            <input type="submit" value="Search Player" class="col-sm-3 btn btn-primary"
                   id="search">
        </form>

    </div>
</div>

<!-- Results are only shown once the user submits their query, so a Jinja2 block is put here to check the url
 The player results are then displayed -->

{% if players is defined and players[0] is defined and players[0].name.split(':')[0] != "User-Generated-F"
and players[0].name.split(':')[0] != "User-Generated-D" and players[0].name.split(':')[0] != "User-Generated-G"
and url_for(request.endpoint) == "/results" %}

<div class="card rounded overflow-auto" style="padding-top: 2%; padding-bottom: 2%;
padding-left: 2vw; padding-right: 2vw; overflow: hidden">
    <div class="col-sm-12">
        <h1 style="font-size: xx-large; text-align: center"> Latest Search </h1>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3 d-block my-auto mx-auto" style="padding-bottom: 2%">
            <a href="https://www.nhl.com">
                <img src="{{ url_for('static', filename='/Images/'+players[0].photo+'.jpg') }}"
                     style="display: flex; align-items: center; flex-wrap: wrap;"
                     class="d-block mx-auto my-auto" alt="Error">
            </a>
        </div>
        <div class="col-sm-6 my-auto">
            <h1 style="font-size: large; text-align: center">
                {{ players[0].name.split(':')[0] }} was worth
                <span style="color: #c0392b"> {{ players[0].name.split(':')[2] }} </span>
                for {{ players[0].name.split(':')[3] }} year(s) after his
                {{ players[0].name.split(':')[1][1:].split(")")[0] }} season
            </h1>
        </div>
        <div class="col-sm-3 my-auto" style="padding-bottom: 2%">
            <a href="https://flagpedia.net">
                <img src="{{ players[0].nationality }}"
                     srcset="{{ players[0].nationality_2 }}"
                     width="168" height="168" alt="{{ players[0].nationality }}"
                     style="display: flex; align-items: center; flex-wrap: wrap;
                  object-fit: contain"
                     class="d-block mx-auto my-auto">
            </a>
        </div>
    </div>
</div>

{% endif %}

<!-- Results are only shown once the user submits their query, so a Jinja2 block is put here to check the url
 Recent Searches are then shown -->

{% if url_for(request.endpoint) == "/results" %}

<div class="card rounded" style="margin-top: 2%">
    <h1 style="font-size: xx-large; text-align: center; margin-top: 0.5%">
        Recent Searches
    </h1>
    <hr>
    <table class="table table-striped table-hover table-dark" style="width: 100%">
        <thead class="thead-light" style="font-size: small; text-align: center; width: 100%">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Previous Year</th>
            <th scope="col">Valuation</th>
            <th scope="col"> Length </th>
        </tr>
        </thead>
        <tbody style="font-size: small; text-align: center;
        margin: auto; width: 100%" id="player" class="table-striped">
        {% set x = namespace(value=1) %}
        {% for player in players %}
        {% if player.name.split(':')[0] != "User-Generated-F" and
        player.name.split(':')[0] != "User-Generated-D" and
        player.name.split(':')[0] != "User-Generated-G" %}
        <tr>
            <th>{{ x.value }}</th>
            <td>{{ player.name.split(':')[0] }}</td>
            <td>{{ player.name.split(':')[1] }}</td>
            <td>{{ player.name.split(':')[2] }}</td>
            <td>{{ player.name.split(':')[3] }}</td>
        </tr>
        {% set x.value = x.value + 1 %}
        {% endif %}
        {% endfor %}
        </tbody>
    </table>

    {% endif %}
</div>
</body>

<!-- Footer and Credits -->

<footer class="col-sm-12 card-footer" style="margin-top: 2%">
    <div class="row">
        <div class="col-sm-4 my-auto" style="padding-bottom: 0.5%">
            <a href="https://github.com/AliRZ-02">
                <img src="{{ url_for('static', filename='/Resources/github.png') }}" style="display: flex;
            align-items: center; flex-wrap: wrap;" class="d-block mx-auto">
            </a>
        </div>
        <div class="col-sm-8 my-auto">
            <h1 style="font-size: large; text-align: center; margin-top: 0.5%">
                Developed by Ali Raza Zaidi and Danyal Zaidi.
                To find out more, check out the <a href="https://github.com/AliRZ-02/CaPredictor"> GitHub </a> repository
            </h1>
        </div>
    </div>
</footer>
</html>